/* * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    background-color: whitesmoke;
} */

#footer {
    height: 550px;
    width: 100%;
    display: flex;
}

.nav5 {
    height: 85%;
    width: 90%;
    margin: auto;
    display: flex;

}

#footer>div>div {
    width: 33%;
    height: 100%;
    padding: 0px 25px 0px 25px;
}

h5 {
    color: black;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    margin-top: 25px;
    margin-left:3px;


}

.aa>a {
    text-decoration: none;
    display: flex;
    
    padding: 8px;
    font-size: 14px;
    color: grey;
}

div>a:hover {
    text-decoration: underline;


}

h5+p {
    font-size: 14px;
    line-height: 25px;
    margin-left:10px;
    color: grey;

}

p>a {
    color: grey;
}

#enterMail {
    height: 35px;
    width: 88%;
    font-size: 14px;
    border: 2px solid black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-top: 35px;
    margin-left:10px;
    color: grey;

}

#enterMail:focus {
    outline: none;
}
/* .payment
{
    height: 200px;
    border: 1px red solid;
} */
.payment a
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: grey;
    margin-bottom: 10px;

}
.icon1 {
    width: 100%;
    height: 50px;
    display: flex;

}

.icon1>div {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    color: grey;

}

.icon1>div:nth-child(2) {
    margin-left: 20px;
    color: grey;
}

.icon1>div:nth-child(3) {
    width: 100px;
    height: 30px;
    margin-top: 1px;
    margin-left: 20px;
    border-radius: 50px;
    padding: 10px 25px 0px 25px;

}

.icon2 {
    width: 90%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;

}

.icon2>div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    background-color: whitesmoke;

}

.icon2>div>a {
    text-decoration: none;
    color: grey;


}

.copyright {
    margin-top: 50px;
    font-size: 12px;
    color:darkgrey;
    margin-bottom: 10px;

}
.copyright+div{
    display: flex;
}

.nav2{
    width:90%;
    height:50px;
    margin:auto;
    display:flex;
}
.terms
{
    display: flex;
    flex-direction: column;
}
.terms a
{
    margin-bottom: 10px;
    color: grey;

}
.nav2 img
{
    width: 100px;
    height: 50px;
}